@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Open+Sans&family=Shantell+Sans:wght@300&display=swap');

body {
    margin: 0;
    font-family: Lexend, "Open Sans", sans-serif;
  }

.logo {
    height: 150px;
    float: left;
    padding: 15px;
    border-radius: 100%;
}
  
.topnav {
    overflow: hidden;
    background-color: #f58d4e;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {
    background-color: #fedad6;
    color: #f58d4e;
  }
  
.topnav a.active {
    background-color: #fd9f96 ;
    color: white;
  }