@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Open+Sans&family=Shantell+Sans:wght@300&display=swap');

:root {
  /* change the values below to your colors from your palette */

  --primary-color: #b0ccc0;
  --secondary-color: #f58d4e;
  --accent1-color: #fedece;
  --accent2-color: #fd9f96;
  --accent3-color: #fedad6;

  /* change the values below to your chosen font(s) */
  --heading-font: "Shantell Sans";
  --paragraph-font: Lexend, "Open Sans", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #b0ccc0;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #444; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #fd9f96  ;
  --nav-link-color: white;
  --nav-background-color: #f58d4e;
  --nav-hover-link-color: #f58d4e;
  --nav-hover-background-color: #fedad6;
}


body {
    margin: 0;
    font-family: Lexend, "Open Sans", sans-serif;
    height: 800px;
  }

.logo {
  height: 75px;
  float: left;
  padding: 15px;
  border-radius: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #f58d4e;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  margin: 20px;
  margin-left: 100px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #fedad6;
  color: #f58d4e;
}

.topnav a.active {
  background-color: #fd9f96;
  color: white;
}

/* ==============new section=============== */
#content {
  max-width: 1600px;
  /* background-color: antiquewhite; */
}
.me {
  width: 20vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  float: left;
  padding: 5px;

  /* border */
  border-style: dotted;
  border-width: 8px;
  border-color: #333;
}
.about_me p {
  margin-right: 50px;
}
.about_me {
  margin-top: 5%;
}

.title {
  font-family: var(--heading-font);
  color: #b0ccc0;
}

/* ==============new section=============== */

.parallax {
  /* The image used */
  background-image: url("girl_playing_piano.webp");

  /* Set a specific height */
  min-height: 200px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quotes {
  font-size: 900%;
  color: white;
  text-align: center;
}

.quotations {
  padding-top: 5%;
  padding-bottom: 5%;
}

.quotations div {
  background-color: #fd9f96;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 25px;
  margin: 50px;
}

/* ==============new section===============       GRID        */

.grid {
  padding-top: 10%;
  background-color: #b0ccc0;
  display: grid;
  grid-template-columns: 100px 100px 100px 50px 50px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

.grid img {
  width: 300px;
}

.one {
  grid-column: 3;
  z-index: 1;
}

.two {
  grid-column: 5;
  grid-row: 4;
  z-index: 1;
}

.three {
  grid-column: 2;
  z-index: 0;
}

.four {
  grid-column: 10;
  grid-row: 8;
}

/* facts */
.fact1 {
  background-color: #fd9f96;
  color: white;
  padding: 5%;
  margin: 5%;
  grid-column: 9/13;
  grid-row: 3/6;
  font-size: 17px;
  padding: 20px;
}

.fact2 {
  background-color: #fd9f96;
  color: white;
  padding: 5%;
  margin: 5%;
  grid-column: 2/9;
  grid-row: 8/11;
  font-size: 18px;
  padding: 20px;
}

/* ==============new section=============== */

footer {
  background-color: #f58d4e;
  padding: 25px;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  padding-left: 50px;
  padding-right: 50px;
}


/* +++++++++++ PAGE 3 +++++++++++++++++++++++ */

.bottom_paragraph {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}


.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding: 40px;
}

.grid_container p {
  text-align: center;
  /* margin-left: 0; */
}

.image1 {
  justify-self: center;
  width: 200px;
  grid-column: 1;
}

.image2 {
  justify-self: center;
  width: 200px;
  grid-column: 2;
}

.image3 {
  justify-self: center;
  width: 200px;
  grid-column: 3;
}

.image4 {
  justify-self: center;
  width: 200px;
  grid-column: 4;
}

.image5 {
  justify-self: center;
  width: 200px;
  grid-column: 1;
}

.image6 {
  justify-self: center;
  width: 200px;
  grid-column: 2;
}

.image7 {
  justify-self: center;
  width: 200px;
  grid-column: 3;
}

.image8 {
  justify-self: center;
  width: 200px;
  grid-column: 4;
}

main a {
  margin: auto;
}