
/* Color palette

DDE8B9- tea green (maybe)
E8D2AE- wheat
D7B29D- desert sand
CB8589- old rose
796465- wenge (maybe)
OR
587D71- hooker's green
7A6174- chinese violet

https://coolors.co/587d71-e8d2ae-d7b29d-cb8589-7a6174

piano logo
"images/piano_logo"

*/

.logo {
    width: 200px;
    border: 2px solid black;
    border-radius: 100px;
}