
body {
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    justify-items: center;

    background-color: white;
}

/* .thing {
    background-color: white;
    grid-column: 2/5;
    grid-row: 1/10;
} */

.image, h4, h1, p {
    grid-column: 2/5;
}

.h4 {
    grid-row: 2/3;
}

.box1 {
    grid-column: 2/3;
    grid-row: 5/6;
    padding: 15px;
}
.box2 {
    grid-column: 3/4;
    grid-row: 5/6;
    padding: 15px;
}
.box3 {
    grid-column: 4/5;
    grid-row: 5/6;
    padding: 15px;
}